.container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 6fr;
}

.sidebar {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 100px 500px 200px 600px;*/
    grid-template-rows: 90px 4fr 4fr 6fr;
    align-items: flex-start;
    justify-items: left;
    font-size: 20px;
    padding: 15px;
}

.header {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: flex-start;
    padding: 20px;
    
}

.main-content {
    grid-area: 2/2/3/3;
}

ul {
    list-style-type: none;
}

.dash {
    color: white;
    width: 70px;
}

.icon {
    width: 40px;
}

.DashLogo {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    justify-items: left;
    justify-content: flex-start;
}

.navagation {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: repeat(6, 60px);
    align-items: center;
    justify-items: left;

}

.optioons {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: repeat(3, 60px);
    align-items: center;
    justify-items: left;

}

.magnifiy{
    width: 30px;
}


.ring, .smalcat{
    width: 40px;
}

.largecat{
    width: 60px;
}

.search input{
    width: 700px;
    border-radius: 10px;
    height: 25px;
  
}

.search{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.dash{
    align-self: left;
    justify-self: left;
}